body {
  font-family: "PretendardStd", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5em;
  background-color: #f2f2f2;
  margin: 80px;
}

header {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}
header h1 {
  margin-bottom: 0px;
}
header p {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 65%;
}
header .under-construction {
  opacity: 0.5;
}

section {
  top: 0;
  height: 100vh;
}

#section-one {
  height: 100vh;
  z-index: 3;
}

#section-two {
  height: 100vh;
}
#section-two h1 {
  margin-top: 20px;
}

#interior-section-one {
  padding-top: 100px;
  width: 75%;
  margin: 0 auto;
}
#interior-section-one h1 {
  margin: 0;
}
#interior-section-one img {
  width: 100%;
}
#interior-section-one hr {
  margin-top: 50px;
}

.interior-container {
  margin-top: 50px;
}

.interior-summary {
  width: 80%;
  margin: 0 auto;
}

hr {
  border: 0.5px solid black;
}

.letter-u {
  letter-spacing: -9px;
}

h1 {
  font-family: "PretendardStd-SemiBold";
  font-weight: normal;
  font-size: 1em;
  text-transform: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
a:hover {
  text-decoration: underline;
}

strong {
  font-family: "PretendardStd-SemiBold";
}

.nav {
  background-color: #f2f2f2;
  line-height: 2em;
  top: 0em;
  height: 100px;
  align-items: center;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  width: -webkit-fill-available;
  margin-left: -45px;
}

.navbar-fixed-top {
  position: fixed;
}

.nav__item--brand-logo {
  margin-left: 0;
  margin-right: auto;
  font-family: "fleurondingbats";
  text-decoration: none;
  font-size: 3em;
}
.nav__item--brand-logo a {
  background-color: none;
  transform: scale(0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.nav__item--brand-logo:hover {
  transform: scale(1.2);
  text-decoration: none;
}

.nav__item--info {
  margin-right: 40px;
}

.collaborate-btn {
  font-family: "PretendardStd", sans-serif;
  background-color: black;
  border: 1px solid black;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.collaborate-btn .flower {
  font-family: "fleurondingbats";
  font-size: 2em;
  padding-left: 2px;
}
.collaborate-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  text-decoration: none;
}

.box {
  position: relative;
  max-height: 90%;
  overflow: hidden;
  padding: 10px 0;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1080px;
}
.container .project-title {
  font-family: "PretendardStd-SemiBold";
}
.container p {
  font-size: 1em;
  padding-right: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.container img {
  min-width: 70%;
  max-width: 100%;
}
.container a:hover {
  text-decoration: none;
}

.copyright {
  margin: 0 auto;
  text-align: left;
  padding-top: 100px;
  padding-bottom: 10px;
  font-size: 0.8em;
}

.zoom-out img {
  transform: scale(100%);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease;
}

.zoom-out:hover img {
  transform: scale(101%);
}

footer {
  display: block;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
}
/*# sourceMappingURL=styles.css.map *//*# sourceMappingURL=styles.css.map */