* {
    margin: 10px;
    background-color: #f2f2f2;
}

body {
    font-family: 'sans-serif';
}

header {
    position: absolute;
    bottom: 0;
}

header p {
    width: 70%;
}

h1 {
    font-family: 'serif';
    font-size: 5em;
    font-weight: 100;    
}

.flower {
    font-family: 'fleurondingbats';
    font-size: 2em;
    letter-spacing: -30px;
    line-height: .5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: black;
    text-decoration: underline;
}

.nav {
    display: flex;
    align-items: center;
    padding: 0.2em 0.5em;
}

.nav__item--brand-logo {
    margin-left: 0;
    margin-right: auto;
    font-family: 'fleurondingbats';
    text-decoration: none;
    font-size: 3em;
}

.page-title {
    text-transform: uppercase;
}

.collaborate-btn {
    font-family: 'sans-serif';
    background-color: black;
    border: 1px solid black;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.collaborate-btn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}
